*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}
.class-nav{
    height: 100%;
    width: 10%;
    position: fixed;
    right: 0;
    background-color: chartreuse;
} 
.class-nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    background-color: gray;
    width: 100%;
    height: 10%;
    color: beige;
    font-size: 20px;
} 
.class-main-div{
   position: absolute;
   width: 50%;
   height: 30%;
   left: 20%;
   right: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
   /* justify-content: center; */


} 
.class-div-email{
    border: 5px double orange;
    border-radius: 5%;
    background-color: azure;
    margin-top: 3%;    
}
.class-send{
    position: fixed;
    bottom: 3%;
    left: 3%;
    font-size: 50px;
    border: 3px solid orangered;
    border-width: 6px;
    padding: 1%;
}
.class-div-send{
    position: absolute;
    width: 50%;
    height: 30%;
    left: 20%;
    right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 20%;
    border: 5px solid black;
    padding: 10px;
    background-color: bisque;

}
.class-to-sent{
    font-size: 30px;
}
#send-btn{
    border: 2px solid black;
    background-color: green;
    color: white;
    

}
#draft-btn{
    border: 2px solid black;
    background-color: red;
    color: white;
    left: 3px;
    right: 4px;
}